@model MovieInformation.Models.Movie

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="displayName" class="control-label"></label>
                <input asp-for="displayName" class="form-control" />
                <span asp-validation-for="displayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageUrl" class="control-label"></label>
                <input asp-for="imageUrl" class="form-control" />
                <span asp-validation-for="imageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="author" class="control-label"></label>
                <input asp-for="author" class="form-control" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="times" class="control-label"></label>
                <input asp-for="times" class="form-control" />
                <span asp-validation-for="times" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userScore" class="control-label"></label>
                <input asp-for="userScore" class="form-control" />
                <span asp-validation-for="userScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trailerUrl" class="control-label"></label>
                <input asp-for="trailerUrl" class="form-control" />
                <span asp-validation-for="trailerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descriptions" class="control-label"></label>
                <input asp-for="descriptions" class="form-control" />
                <span asp-validation-for="descriptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateRelease" class="control-label"></label>
                <input asp-for="dateRelease" class="form-control" />
                <span asp-validation-for="dateRelease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modifiedDate" class="control-label"></label>
                <input asp-for="modifiedDate" class="form-control" />
                <span asp-validation-for="modifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
