@model IEnumerable<MovieInformation.Models.Movie>

@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.ActionLink("RatingFilm", "RatingMovieInformation")
</div>
<partial name="ListMoviePopular" model="ViewBag.lstPopular" />

<partial name="ListMovieTopRate" model="ViewBag.lstTopRating" />



